.searchContainer {
  /* margin: 0px 25px 16px 0; */
}
.productCard {
  max-width: 345px;
  max-height: 100px;
}
@media screen and (min-width: 600px) {
  .productCard {
    max-height: none;
  }
}
.productDetailsHeader {
  display: flex;
  align-items: center;
  margin: 10px 0;
}
